<div class="container ml-1" >
<h2>What is this?</h2>
<h3 class="font-weight-normal"> Hello! My name is Arni and I made this website/game about typing texts sent by users.</h3>

<h2>Why?</h2>
<h3 class="font-weight-normal"> I was watching a NodeJs, ExpressJs, and MongoDB tutorial. I learned that you can create your own Database/REST API with these libraries, so I made one, made it work, then I thought, "What can I do with this database?" so I made a typing game where you use the texts in the Database.</h3>

<h2>How was this made?</h2>
<h3 class="font-weight-normal"> As mentioned above, I first created a REST API with mongoDB that can store and send documents. Then I made a User Interface where the users can submit their own texts. Then I coded the typing game after I made sure the Playing-Page gets a random document from the database everytime you reload it.</h3>

<h2>What should I submit as a text?</h2>
<h3 class="font-weight-normal"> Anything as long as your text is in Roman Alphabet. (Do not submit any text that is not directly accessible with the normal keyboard, please be mindful to other players). As for content for your text, you can submit anything! whether it's a song lyric, movie quote, your poem, something you wanna confess, etc.</h3>




<div class="modal-body" id="infoModal">
    <h5>What is this?</h5>
    <p>Hello! My name is Arni and I made this website/game about typing texts sent by users.</p>
    <hr>
    <h5>Why?</h5>
    <p>I was watching a NodeJs, ExpressJs, and MongoDB tutorial. I learned that you can create your own Database/REST API with these libraries, so I made one, made it work, then I thought, "What can I do with this database?" so I made a typing game where you use the texts in the Database.</p>
    <hr>
    <h5>How was this made?</h5>
    <p>As mentioned above, I first created a REST API with mongoDB that can store and send documents. Then I made a User Interface where the users can submit their own texts. Then I coded the typing game after I made sure the Playing-Page gets a random document from the database everytime you reload it.</p>
    <hr>
    <h5>What is this?</h5>
    <p>Hello! My name is Arni and I made this website/game about typing texts sent by users.</p>
    <hr>
    <h5>What should I submit as a text?</h5>
    <p>Anything as long as your text is in Roman Alphabet. (Do not submit any text that is not directly accessible with the normal keyboard, please be mindful to other players). As for content for your text, you can submit anything! whether it's a song lyric, movie quote, your poem, something you wanna confess, etc.</p>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">
    About
  </button>




<


<div class="container">
    <div class="row">
      <div class="col">
        <a href="/" class="tn btn-secondary btn block">BACK</a>
      </div>
    </div>
  </div>



</div>


