<div class="container text-center">
    <h2>Thank you for submitting a text!</h2>
    <h3>Your submitted text has been saved to the database</h3>
    <div class="container">
        <div class="row">
          <div class="col">
            <a href="/" class="tn btn-secondary btn block">BACK</a>
          </div>
        </div>
      </div>



</div>
